*{margin: 0;box-sizing: border-box;font-family: Arial;}
body{background: #0e1726;color: white;padding: 20px;}
h1{font-size: 22px;}
p{color: #aaa;font-size: 14px;margin-bottom: 20px;}
video{width: 100%;max-width: 800px;border-radius: 10px;background: #000;margin: 20px 0;}